#newServiceButton{
    color: white;
    background-color: rgba(0, 255, 0, 0.5);
    padding: 8px;   
}

#newServiceButton:hover{    
    background-color: rgba(0, 150, 0, 0.5);
}

.service{
    background-color: rgba(0, 0, 0, 0.7);
}

.service:hover{
    background-color: rgba(0, 0, 0, 0.2);
}