#newServiceButton{
    color: white;
    background-color: rgba(0, 255, 0, 0.5);
    padding: 16px 0px;
}

#newServiceButton:hover{    
    background-color: rgba(0, 150, 0, 0.5);    
}

#container-services{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;

    .service {
        margin: 4px;

        a{
            display: flex;
            flex-direction: column;
            background-color: rgba(100,100,100,0.8);            
            max-width: 320px;
            width: 40vw;            
            
            text-decoration: none;
            word-break: break-all;
        }

        a:hover{
            background-color: rgba(100,100,100,0.4);
            text-decoration: underline;
        }

        img:hover{
            opacity: 0.8;
        }
    }
}